x-app: &defaults
  stop_signal: SIGINT
  restart: unless-stopped
  # privileged: true
  tty: true
  # pull_policy: missing
  # shm_size: "2gb"
  dns: ["8.8.8.8", "4.4.4.4"]
  networks:
    - application

services:
  frontend:
    <<: *defaults
    container_name: frontend
    image: frontend:latest
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    environment:
      MONGODB_URL: "mongodb://mongodb:27017/database"
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host

  mongodb:
    <<: *defaults
    container_name: mongodb
    image: mongo:latest
    expose:
      - 27017
    volumes:
      - type: volume
        source: mongodb
        target: /data/db
        read_only: false

volumes:
  mongodb:
    name: mongodb
    # external: true

networks:
  application:
    name: application
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
